
 .profile{
     width: 280px;
     height: 430px;
     box-shadow: 5px 5px 10px lightgrey;
     border-radius: 8px;
     text-align: center;
     text-align: justify;    
 }
.profile img{
    width: 45%;
}
.name{
    color: Indigo;
    font-weight: 700;
}
.salary{
    color: tomato;
    background-color: lightgray;
}
.button{
    margin-right: 10px;
    padding: 5px;
    width: 120px;
   background-color: orange;
   border: 1px solid orange;
   border-radius: 5px;
   transition: 1s;
   font-weight: 500;
   cursor: pointer;
}
.button:hover{
    color:white;
    font-weight: 500;
    background-image: linear-gradient(to right, tomato, blue);
}

.star{
   
    color: goldenrod;
}
.star-half{
    color:goldenrod
}
