
.container{
    padding: 10px;
    text-align: center;
}
nav{
    line-height: 50px;
    background-color: whitesmoke;
 
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 500;
    color: black;
    padding: 15px;
    transition: 1s;
}
nav a:hover{
    color: red;
    background-color: lightgray;
    text-decoration: underline;
}